<mat-toolbar color="primary">
  <span href = '#' routerLink="/">Ask.Me</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space">
  </span>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput placeholder="Search">
    <button mat-button matSuffix mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <button (click)='navigateToLogin()' mat-button>Login</button>
  <button (click)='navigateToSignup()' mat-button>Sign Up</button>

  <!-- <span>Right Aligned Text</span> -->
</mat-toolbar>

<router-outlet></router-outlet>